.column {
    float: left;
    width: 50%;
    flex: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .title {
    text-align: center;
  }

  .left {
    width: 60%;
  }
  
  .right {
    width: 40%;
  }


  .circle {
    fill:rgb(0, 0, 0);
  
  }
  
  .circle:hover{
    fill: rgb(0, 149, 105);
  }

  .border {
    border-color: rgb(227, 0, 38);
    stroke: rgb(0, 255, 204);
    border-width: 5px;
    stroke-width: 6px;
}